@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  font-family: 'Raleway', sans-serif;
}

.container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

.question,
.score-details p,
.score-details .result {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}
.score-details .result {
  font-style: italic;
}
.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}
.counter .wrapper,
.counter p {
  text-align: center;
}
.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(250, 151, 37);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.score-board {
  position: relative;
  text-align: center;
}
.score {
  font-size: 3em;
  text-align: center;
  margin-top: 100px;
}
.playBtn,
.startBtn {
  margin-top: 10px;
  font-size: 1.4em;
  padding: 10px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.score-details {
  &:nth-child(odd) {
    background: #e5e5e5;
  }
  .result-no {
    color: red;
  }
  .result-yes {
    color: green;
  }
}
